
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #fff; 
    margin: 0;
    padding: 0;
    color: #333; 
}

nav {
    background-color: #000; 
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

nav a {
    color: #ff69b4; 
    text-decoration: none;
    margin: 0 15px;
}
section {
    padding: 50px 20px;
    background-color: #f0f0f0; 
    color: #333; 
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000; 
}

#about-me {
    background-color: #ffe0f0; 
}

#tech-stack {
    background-color: #ffccff; 
}

#contact-me {
    background-color: #ffe0f0; 
}

#home img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ff69b4; 
}


html, body {
    height: 100%;
    margin: 0;
}


body {
    font-family: 'Roboto Mono', monospace;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
}


section {
    flex: 1;
}


footer {
    background-color: #000; 
    text-align: center;
    padding: 10px;
    color: #fff; 
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
